<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rrbofficial.androiduipracticekotlin">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34"
        tools:overrideLibrary="androidx.annotation" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUiPracticeKotlin"
        tools:targetApi="31">
        <activity
            android:name=".MaterialUIDesgins.TabLayout.TabLayoutWithViewPager"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.NavigationDrawer"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.BottomNavigationTabs"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.RecycleViewWithJsonParsing"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.RecycleViewWithGridView"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.RecycleViewWithLinearView"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.LoginMaterialUI"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.CustomGridViewAndCardView"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.CustomListViewAndCardView"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.ExpandableListView.ExpandableListViewScreen"
            android:exported="false" />
        <activity
            android:name=".SQLite.SQLite_result"
            android:exported="false" />
        <activity
            android:name=".SQLite.SQLiteForm"
            android:exported="false" />
        <activity
            android:name=".Firebase.CloudMessaging.CloudMessagingFirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.Analytics.FirebaseAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.InAppMessagin.InAppMessagingFirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.DynamicLink.DynamicLinkWithFirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.Admob.AdMobWithFirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".Firebase.CrashAnalytics.FirebaseCrashAnalytics"
            android:exported="false" />

        <receiver
            android:name=".Notifications.receiver.CustomNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".githubretrofit.GithubUserActivity"
            android:exported="false" />
        <activity
            android:name=".githubretrofit.GithubActivity"
            android:exported="false" />

        <receiver
            android:name=".Notifications.receiver.MessageReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".Notifications.receiver.AddToCartReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MachineLearning"
            android:exported="false" />
        <activity
            android:name=".AndroidSysComponents.AndroidSystemComponents"
            android:exported="false" />
        <activity
            android:name=".Splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InternetOfThings"
            android:exported="false" />
        <activity
            android:name=".ArtificialIntelligence"
            android:exported="false" />
        <activity
            android:name=".Security.AndroidSecurity"
            android:exported="false" />
        <activity
            android:name=".AWS.AWS"
            android:exported="false" />
        <activity
            android:name=".Notifications.Notifications"
            android:exported="false" />
        <activity
            android:name=".Animations"
            android:exported="false" />
        <activity
            android:name=".KotlinCoroutines"
            android:exported="false" />
        <activity
            android:name=".Fragments"
            android:exported="false" />
        <activity
            android:name=".AndroidSysComponents.AndroidUIWidgets"
            android:exported="false" />
        <activity
            android:name=".Ktor"
            android:exported="false" />
        <activity
            android:name=".Volley"
            android:exported="false" />
        <activity
            android:name=".Firebase.Auth.Firebase_userdata"
            android:exported="false" />
        <activity
            android:name=".Firebase.Auth.Firebase_signup"
            android:exported="false" />
        <activity
            android:name=".Firebase.Auth.Firebase_login"
            android:exported="false" />
        <activity
            android:name=".Firebase.Firebase"
            android:exported="false" />
        <activity
            android:name=".JsonParsing"
            android:exported="false" />
        <activity
            android:name=".Retrofit"
            android:exported="false" />
        <activity
            android:name=".Apis"
            android:exported="false" />
        <activity
            android:name=".Databinding"
            android:exported="false" />
        <activity
            android:name=".ViewModel"
            android:exported="false" />
        <activity
            android:name=".LiveData"
            android:exported="false" />
        <activity
            android:name=".MVMandRoom"
            android:exported="false" />
        <activity
            android:name=".DependencyInjection"
            android:exported="false" />
        <activity
            android:name=".Databases"
            android:exported="false" />
        <activity
            android:name=".JetpackCompose.JetpackCompose"
            android:exported="false" />
        <activity
            android:name=".ExplicitIntent"
            android:exported="false" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvzImsFPFb5efbiCDGxNVAWPcQOkwuUi0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".GoogleMaps.GoogleMaps"
            android:exported="false"
            android:label="@string/title_activity_google_maps" />
        <activity
            android:name=".UItextAndEditText"
            android:exported="false" />
        <activity
            android:name=".MaterialUIDesgins.MaterialUIComponents"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/violet" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>