<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rrbofficial.androiduipracticekotlin">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".Notifications.NotificationApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUiPracticeKotlin"
        tools:targetApi="31">
        <receiver
            android:name=".Notifications.receiver.CustomNotificationReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <activity
            android:name=".githubretrofit.GithubUserActivity"
            android:exported="false" />
        <activity
            android:name=".githubretrofit.GithubActivity"
            android:exported="false" />

        <receiver
            android:name=".Notifications.receiver.MessageReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".Notifications.receiver.AddToCartReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MachineLearning"
            android:exported="false" />
        <activity
            android:name=".AndroidSysComponents.AndroidSystemComponents"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InternetOfThings"
            android:exported="false" />
        <activity
            android:name=".ArtificialIntelligence"
            android:exported="false" />
        <activity
            android:name=".Security.AndroidSecurity"
            android:exported="false" />
        <activity
            android:name=".AWS.AWS"
            android:exported="false" />
        <activity
            android:name=".Notifications.Notifications"
            android:exported="false" />
        <activity
            android:name=".Animations"
            android:exported="false" />
        <activity
            android:name=".KotlinCoroutines"
            android:exported="false" />
        <activity
            android:name=".Fragments"
            android:exported="false" />
        <activity
            android:name=".AndroidSysComponents.AndroidUIWidgets"
            android:exported="false" />
        <activity
            android:name=".Ktor"
            android:exported="false" />
        <activity
            android:name=".Volley"
            android:exported="false" />
        <activity
            android:name=".firebase.Firebase_userdata"
            android:exported="false" />
        <activity
            android:name=".firebase.Firebase_signup"
            android:exported="false" />
        <activity
            android:name=".firebase.Firebase_login"
            android:exported="false" />
        <activity
            android:name=".firebase.Firebase"
            android:exported="false" />
        <activity
            android:name=".JsonParsing"
            android:exported="false" />
        <activity
            android:name=".Retrofit"
            android:exported="false" />
        <activity
            android:name=".Apis"
            android:exported="false" />
        <activity
            android:name=".Databinding"
            android:exported="false" />
        <activity
            android:name=".ViewModel"
            android:exported="false" />
        <activity
            android:name=".LiveData"
            android:exported="false" />
        <activity
            android:name=".MVMandRoom"
            android:exported="false" />
        <activity
            android:name=".DependencyInjection"
            android:exported="false" />
        <activity
            android:name=".Databases"
            android:exported="false" />
        <activity
            android:name=".JetpackCompose.JetpackCompose"
            android:exported="false" />
        <activity
            android:name=".ExplicitIntent"
            android:exported="false" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvzImsFPFb5efbiCDGxNVAWPcQOkwuUi0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".GoogleMaps.GoogleMaps"
            android:exported="false"
            android:label="@string/title_activity_google_maps" />
        <activity
            android:name=".UItextAndEditText"
            android:exported="false" />
        <activity
            android:name=".UIComponents"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>